<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<!--<connectionStrings>
  --><!--99.254正式库--><!--
  <add name="ConnectionString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiRHaaf2m/9kqsHELjfXmkKAbh78IbzG81ZYqFNX0OkpBge8dPEpbUiYck4hfLbL25SV0SEdkSQIzc/K7zPZ2ISdSFb32Oor4pxD5dh7d22ZpK6LQwX3OOy+9hgWjymhKSWiJyL5p1/7naksgxgkA95W" providerName="System.Data.SqlClient" />
  --><!--99.254香港Aita正式库--><!--
  <add name="ConnectionString35" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiRHaaf2m/9kqsHELjfXmkKAbh78IbzG81bf64cjrs1EKrcj6vgg9OO3AssKQNg7PElEE/R0byOc2MxwsiNX8kH6h5+ss5ftOLk0DD70zbCCg6RLPytReoERJU/Tf4eEo8s=" providerName="System.Data.SqlClient" />
  --><!--香港Aita测试库(缅甸)--><!--
  <add name="AITATestConnectionString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiRHaaf2m/9kqsHELjfXmkKAbh78IbzG81bf64cjrs1EKoH8TYNkypo0Jf2ioCgRz2njgb22fkGLRQOsJBI3ycStK6zmJ6x2tdGZmLWm8EfpgM5SLFEZjApeJlMSs6MkA5I6pjis8CVNIv5Z8eKDo8z7zH8TId6bsUI=" providerName="System.Data.SqlClient" />
  --><!--99.206开发库--><!--
  <add name="TestConnectionString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiS+tNtOc9E6Cen1kNyVG3RP7HFew4B+8ap938X06VRaDZiCv/XPjDo6+XHw2tZtUAwpk49gKurFfWyoi3dikXJv+Rer0/3AnnBOjcETtw3Hx/G9LlS2XONt" providerName="System.Data.SqlClient" />
  <add name="ETSSQLConnString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiRHaaf2m/9kqmLMJYiJwsxjZy7tZSJAEA2/65dNhXFTvopy5bFcpZ2QAeTGgbQmGF91IOnMKAc2/w8fPD7WrqXGfc2lCvN377Tm5v2gkO+LkFwGj15bacGhp+hchebG164=" providerName="System.Data.SqlClient" />
  --><!--微信正式库--><!--
  <add name="WeixinSQLConnString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSZQFQjpwlXzOoyqq/u2n4fv5HWmC4mbzABj0v9n9L+yLQgUKbvw/o2zhTcTyAt5aMTo2ObghcQMsTcsh3FrbImLR9q4jU4766gANYVQXnTmA=" providerName="System.Data.SqlClient" />
  --><!--微信测试库--><!--
  <add name="TestWeixinSQLConnString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSZQFQjpwlXzOoyqq/u2n4fv5HWmC4mbzABj0v9n9L+yLVgl/4PG7mNLXUgM0uwUbj7rRSh/Mp/0M1ZgnVermxi71nz2hamzzxOzaf/66N9i1dT2QcuraC1A==" providerName="System.Data.SqlClient" />
  --><!--OA正式库--><!--
  <add name="OASQLConnString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiSICQzI3JaM8vdBi4SwskfkgQYOptWzK9ksFqC0jDrBOmCujoPatN1sfNPEVTKp+J6mlNLoHWXsMQ==" providerName="System.Data.SqlClient" />
  --><!--OA测试库--><!--
  <add name="TestOASQLConnString" connectionString="x+vc0ImvjS4aKvfbTsiuEkHvnuKeTkwSXgO9lH6sSiSICQzI3JaM8vdBi4SwskfkgQYOptWzK9ksFqC0jDrBOmCujoPatN1sfNPEVTKp+J6mlNLoHWXsMQ==" providerName="System.Data.SqlClient" />
  --><!--oracle正式库    服务器上必须安装oracle服务端 否则会报错--><!--
  <add name="OracleConnectionString" connectionString="user id=jd160705;password=jd160705;data source=//192.168.99.25:1521/wzjddb;PROMOTABLE TRANSACTION=promotable;Connection Lifetime=120;Max Pool Size=500;Connection Timeout=60;Statement Cache Size=10;Self Tuning=false;Pooling=true;Metadata Pooling=false;Persist Security Info=false" providerName="System.Data.SqlClient" />
  --><!--oracle开发库   服务器上必须安装oracle服务端 否则会报错--><!--
  <add name="OracleTestConnectionString" connectionString="user id=dev170208;password=dev170208;data source=//192.168.99.25:1521/wzjddb;PROMOTABLE TRANSACTION=promotable;Connection Lifetime=120;Max Pool Size=500;Connection Timeout=60;Statement Cache Size=10;Self Tuning=false;Pooling=true;Metadata Pooling=false;Persist Security Info=false" providerName="System.Data.SqlClient" />
</connectionStrings>--> 
<configuration>
  <appSettings> 
    
    <!--安卓正式库-->
    <add key="AndroidFormalDataBase" value="ttwqpVz258Aia23pbAfIKHlze+q9+eM8Lf8xQjyNWeD9UbExoqYjw9LYRaqyja3Pk0VlmMzKvseenTSIFQWe3qomDfut86ElMwEIVtlqoSS8SQJRIy0Tzh5q88ceGXWfl4elgT1W5nc=" />
   
    <!--安卓测试库-->
    <add key="AndroidTestDataBase" value="ttwqpVz258Aia23pbAfIKDc1GH2LF89HDRslIENqdrk3zZtHB0LTb8eJPdGnvRBFdd2VZkYl4IMzhhkZJWF5Ik8q6EHvNLnJ" />
   
    <!--微信正式库-->
    <add key="WeChatFormalDataBase" value="RzPAgscb3f/+k8+5aVA6cT7+KU5Z6kKFvY1yysBM0XXF8bgRzRknKOAU7fLUM0oYgDOfz+hbjab3o+1nCaOd8uL9NhjDtyVaTNxUERE0YgyHWSZdEAuc/g==" />
    
    <!--微信测试库-->
    <add key="WeChatTestDataBase" value="RzPAgscb3f/+k8+5aVA6cT7+KU5Z6kKFvY1yysBM0XXF8bgRzRknKBKAvf+1hcY9+QxsC2BHleRCrSsPgk4WqmdIB93LcT9DaL0C2NeyvoMapdglfzgKoDe2TddRPHSZ" />
    
    <!--中英文对照表数据库-->
    <add key="LocaDataBase" value="ttwqpVz258Aia23pbAfIKHlze+q9+eM8Lf8xQjyNWeAy3jlnLk6Z7St5xK9xE+uql/0rmE4q0Eqqkrq+iN8IxRivIXmO9E70+dcxeM0D3O6oktxdGWZiv2S2qxdKN4kBCgk6TKRTkZn7W7bVbouOpA==" />
   
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
